



/*===========================================
Fondo Oscuro y Texto Claro de la pagina
===========================================*/

body {
  background-color: black;
  color: white; /* texto claro sobre fondo oscuro */
  padding-top: 70px; /*padding superior al cuerpo de la página para evitar que el contenido quede oculto detrás del navbar */
  
}







/*===========================================
Estilos para el Carrusel de Banner
===========================================*/

#heroCarousel {
  position: relative; /* Necesario para posicionar el botón */
}



.carousel-item {
  height: 85vh; /* Altura del carrusel */
  min-height: 400px; /* Altura mínima para pantallas pequeñas */
}



.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* La imagen cubre todo el espacio sin deformarse */
}



/* Contenedor del botón " Ver productos*/
.carousel-caption-button {
  position: absolute;
  bottom: 20px; /* Distancia desde la parte inferior */
  left: 50%;
  transform: translateX(-50%); /*centrar perfectamente el botón de " ver productos */
  padding: 10px; /* esto hace que el boton suba de posicion */
}




/* Usamos un selector específico para que estos estilos solo afecten al botón que está DENTRO del carrusel.*/

#heroCarousel .btn-gamer {

  opacity: 0.5; /* --- Ajuste de Opacidad --- */

  /* --- Ajuste de Tamaño y fuente cambiando el padding--- */
  padding: 8px 16px; 
  font-size: 1rem; 

  /* Esto hace que el botón se vuelva menos transparente al pasar el cursor. */
  transition: opacity 0.3s ease;
}

/* Efecto al pasar el cursor */
#heroCarousel .btn-gamer:hover {
  opacity: 1;
}
